* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrincipal: #222831;
    --colorTerciario: #313b4b;
    --colorSecundario: #d1aa6e;
    --colorHover: #f05454;
}


/* GLOBALES */

h1 {
    font-family: "Luxurious Roman", cursive;
    font-size: 60px;
    font-weight: bold;
    color: var(--colorSecundario);
}

h2,
h3,
h4 {
    font-weight: bold;
    line-height: 1;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h4,
p {
    font-size: 16px;
}

p {
    line-height: 1;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    margin-bottom: 0;
}

span {
    color: var(--colorSecundario);
}

.header,
a {
    color: white;
}

.icons {
    display: flex;
    gap: 15px;
}

.heartIcon {
    color: #f05454;
}

.icons i:hover {
    color: var(--colorSecundario);
}

.line {
    height: 5px;
    width: 400px;
    background-color: var(--colorSecundario);
}

.flexTitle {
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */

.header {
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.header__top i {
    font-size: 30px;
}

.header__top--left {
    display: flex;
    align-items: baseline;
    gap: 20px;
    width: 30%;
}

.menu {
    display: none;
}

.header__top--right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 30%;
}

.search {
    display: flex;
    height: auto;
    width: 70%;
}

.search input {
    border: none;
    border-radius: 22px 0 0 22px;
    text-align: center;
    height: 30px;
    width: 100%;
}


/* remove the border when clicking input */

.search a i {
    font-size: 25px;
    height: 30px;
    color: var(--colorPrincipal);
    background-color: white;
    border-radius: 0 22px 22px 0;
    padding: 3px 5px 5px 0;
}

.divider {
    background-color: #d1aa6e;
    height: 5px;
    width: 100%;
    margin: 0;
}

.header__nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 20px;
    margin: 0;
}

.header__nav ul li {
    text-align: center;
    width: 10%;
}

.header__nav a:hover {
    color: var(--colorSecundario);
}

.account {
    display: none;
}


/* MAIN */


/* CAROUSEL */

.carousel-inner {
    height: 350px;
}

.carousel-item img {
    max-height: 350px;
    object-fit: cover;
}


/* MAIN INFO */

.infoContainer {
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 30%;
    display: flex;
    gap: 10px;
}

.info i {
    font-size: 30px;
}

.infoContent {
    display: flex;
    flex-direction: column;
}

.infoContent h3 {
    margin-bottom: 10px;
}


/* NEW PRODUCTS */

.newProducts {
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 98%);
}

.titleContainer {
    position: relative;
    width: 100%;
    text-align: center;
}

.titleContainer a {
    color: var(--colorSecundario);
    text-decoration: underline;
    position: absolute;
    right: 0;
}

.titleContainer a:hover {
    color: var(--colorTerciario);
}

.newProducts__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.newProducts__product {
    width: 30%;
    color: white;
}

.newProducts__product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.newProducts__product h4 {
    background-color: var(--colorTerciario);
    padding: 15px;
    text-align: center;
}

.newProducts__product:hover {
    cursor: pointer;
    color: var(--colorSecundario);
}


/* COLLECTIONS */

.collections {
    color: white;
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 36%);
}

.gridCollections {
    margin: 50px 0;
}

.row {
    padding: 12px 0;
}

.gridItem {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.gridItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* filter: blur(1px); */
    filter: brightness(75%);
}

.collectionBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 130px;
    height: 65px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid var(--colorSecundario);
    color: var(--colorSecundario);
    background-color: inherit;
    cursor: pointer;
}

.collectionBtn:hover {
    border: 3px solid white;
    color: white;
    background-color: #313b4ba0;
    box-shadow: var(--colorSecundario) 0px 0px 15px;
}


/* ABOUT US  */

.aboutUs {
    height: auto;
}

.aboutUs__content {
    position: relative;
    margin: 50px 0;
}

.aboutUs__content iframe {
    position: absolute;
    width: 50%;
    height: 300px;
    z-index: 1;
}

.aboutUs__info {
    width: 80%;
    background-color: black;
    height: 300px;
    padding: 3%;
    color: white;
    margin: 70px 0 0 auto;
    line-height: 1.2;
}

.aboutUs__info h2,
.aboutUs__info p {
    width: 50%;
    margin: 20px 70px 20px auto;
    text-align: left;
}

.aboutUs__info .line {
    margin: 0 60px 0 auto;
}


/* REVIEWS */

.reviews {
    margin: 20px 0;
}

.review {
    width: 50%;
    height: 300px;
    padding: 30px 30px 50px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    text-align: center;
}

.stars {
    width: 100%;
    font-size: 25px;
    color: #ffbe32;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.review .line {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
}


/* MORE INFO */

.knowMore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knowMore h3 a {
    color: black;
}

.knowMore h3 a:hover {
    color: var(--colorSecundario);
}


/* FOOTER */

.footer {
    text-align: center;
    background-color: #222831;
    padding: 40px 0 0 0;
    color: white;
}

.footer h2 {
    color: var(--colorSecundario);
}

.footer__contact {
    margin: 30px 0;
}

.footer__contact p,
.footer__info a {
    line-height: 2;
}

.footer__flex {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.footer__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a:hover {
    color: var(--colorSecundario);
}

.footer__info i {
    font-size: 40px;
    margin: 10px;
}

.footer__bottom {
    background-color: var(--colorSecundario);
    color: black;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    position: sticky;
    bottom: 0;
}


/* HERE ENDS THE HOME PAGE */


/* SHOPPING CART */

.cartContainer {
    width: 100%;
    margin: 30px 0;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.cartItems {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 70%;
    height: 90vh;
    position: relative;
    overflow-y: scroll;
}

.cartItems::-webkit-scrollbar {
    width: 0;
}

.cartTitle {
    position: sticky;
    background-color: white;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid rgb(220, 218, 218);
    padding: 10px 20px;
}

.cartTitle h5 {
    font-size: 30px;
}


/* Scroll */

.cartItem {
    border-bottom: 2px solid rgb(220, 218, 218);
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.checkItem {
    width: 20px;
    height: 20px;
}

.cartItem img {
    width: 180px;
    height: 100%;
    object-fit: cover;
}

.cartItemDescription {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItemDescription .stock {
    color: rgb(47, 187, 26);
}

.cartItemDescription .noStock {
    color: rgb(168, 39, 39);
}

.price {
    height: 50%;
}

.options {
    display: flex;
    gap: 30px;
    align-items: center;
}

.deleteItem {
    border: none;
    background-color: white;
    color: #5e7eb5;
}

.cartLink {
    color: #5e7eb5;
}

.deleteItem:hover {
    color: var(--colorTerciario);
    text-decoration: underline;
}

.cartLink:hover {
    color: var(--colorTerciario);
    text-decoration: underline;
}


/* RIGHT SIDE */

.cartInfo {
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fullPayment {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.fullPayment p {
    color: gray;
    text-align: center;
    font-size: 17px;
}

.total {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.checkout {
    margin: auto auto;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    border: 3px solid var(--colorSecundario);
    color: var(--colorSecundario);
    background-color: inherit;
}

.checkout:hover {
    color: white;
    background-color: #313b4b;
    box-shadow: var(--colorSecundario) 0px 0px 15px;
}

.recomendations {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow-y: scroll;
}

.recomendations::-webkit-scrollbar {
    width: 0;
}

.recomendations h5 {
    padding: 10px;
    position: sticky;
    background-color: white;
    top: 0;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 2px solid rgb(220, 218, 218);
    color: black;
}

.featuredItem {
    padding: 0 20px;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid rgb(220, 218, 218);
}

.featuredItem img {
    width: 40%;
    margin-bottom: 10px;
}

.featuredItem .featuredItemInfo {
    width: 60%;
}

.featuredItemInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cartStars {
    font-size: 15px;
    justify-content: left;
    gap: 5px;
}

.add {
    width: 100%;
    margin-bottom: 10px;
}


/* CommingSoon Page */

.fullBg {
    width: 100%;
    height: 100vh;
    background-color: #30475e;
    background-color: var(--colorTerciario);
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap: 30px;
    align-items: center;
    position: relative;
}

.fullBg h5 {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.fullBg h1 {
    letter-spacing: 5px;
}

.fullBg h2 {
    font-size: 20px;
    font-weight: normal;
    width: 35%;
    text-align: center;
    color: white;
}

.return {
    width: 120px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.864);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 0;
    font-weight: 400;
    color: #715b3f;
}

.return a {
    color: inherit;
    background-color: none;
}

.return:hover {
    /* border: 2px solid #d1aa6e; */
    border: 3px solid white;
    color: white;
    background-color: #313b4ba0;
    box-shadow: var(--colorSecundario) 0px 0px 15px;
}

.fullBg .icons {
    font-size: 40px;
    display: flex;
    gap: 40px;
}

.coomingSoonBg,
.coomingSoonBg2,
.coomingSoonBg3 {
    width: 400px;
    position: absolute;
}

.coomingSoonBg {
    transform: rotate(-90deg);
    top: 0;
    right: 0;
}

.coomingSoonBg2 {
    transform: rotate(-270deg);
    bottom: 0;
    left: 0;
}

.coomingSoonBg3 {
    width: 200px;
    bottom: 50px;
    right: 50px;
}


/* LOGIN */

.loginSection {
    width: 100%;
    height: auto;
    /* background-color: #30475e; */
    background-color: #30475ebf;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.login {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    align-items: center;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.login h2 {
    font-size: 30px;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
    width: 100%;
}

.login form input {
    height: 40px;
    padding: 10px;
}

.login form button {
    border: none;
    color: var(--colorSecundario);
    background-color: var(--colorPrincipal);
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
}

.login form button:hover {
    background-color: var(--colorTerciario);
    color: white;
}

.login a {
    color: black;
}

.login a:hover {
    cursor: pointer;
    color: #313b4b;
}


/* THE CSS OF THE PRODUCT PAGES IS ON THE PRODUCTS CSS FILE (SASS) */


/* RESPONSIVE */

@media (max-width: 900px) {
    /* HEADER */
    .header__top i {
        font-size: 25px;
    }
    .header__top--left {
        width: 30%;
    }
    .header__top--left p {
        font-size: 14px;
    }
    .search input {
        width: 100%;
    }
    .search a i {
        font-size: 20px;
    }
    .header__nav ul {
        justify-content: space-between;
        gap: 20px;
    }
    .header__nav ul li {
        width: 110px;
    }
    /* MAIN INFO */
    .info {
        gap: 20px;
    }
    /* NEW PRODUCTS */
    .newProducts__product img {
        height: 150px;
    }
    .newProducts__product h4 {
        padding: 10px;
        font-size: 14px;
    }
    /* COLLECTIONS */
    .gridCollections {
        margin: 30px 0;
    }
    .gridItem {
        height: 200px;
    }
    .gridItem h2 {
        font-size: 25px;
        width: 67%;
        top: 20%;
    }
    .gridItem a {
        top: 45%;
    }
    /* ABOUT US  */
    .aboutUs {
        background-color: black;
        margin-bottom: 25px;
    }
    .aboutUs__content {
        position: static;
        display: flex;
    }
    .aboutUs__content iframe {
        position: static;
        height: 200px;
    }
    .aboutUs__info {
        width: 50%;
        margin: 0;
        padding: 0;
        height: 300px;
    }
    .aboutUs__info h2,
    .aboutUs__info p {
        width: 90%;
        margin: 20px auto;
    }
    .aboutUs__info .line {
        margin: 0 auto;
        width: 90%;
    }
    /* REVIEWS */
    .review {
        width: 70%;
    }
    /* MORE INFO */
    .knowMore .infoContainer p {
        font-size: 14px;
    }
    /* SHOPPING CART */
    .cartTitle h5 {
        font-size: 25px;
    }
    .cartTitle h4,
    .price {
        font-size: 15px;
    }
    .cartItem {
        border-bottom: 1.5px solid rgb(220, 218, 218);
        height: 150px;
    }
    .checkItem {
        width: 18px;
        height: 18px;
    }
    .cartItem img {
        width: 120px;
    }
    .cartItemDescription {
        width: 55%;
        height: 95%;
    }
    .cartItemDescription h2 {
        font-size: 18px;
    }
    .cartItemDescription .stock .noStock {
        font-size: 15px;
    }
    .options {
        flex-wrap: wrap;
        gap: 10px;
    }
    .options label,
    .options button {
        font-size: 14px;
    }
    /* RIGHT SIDE */
    .fullPayment {
        height: 30%;
        padding: 10px;
        gap: 10px;
    }
    .fullPayment p {
        font-size: 12px;
    }
    .total {
        align-items: center;
    }
    .total h3 {
        font-size: 15px;
    }
    .total h2 {
        font-size: 18px;
    }
    .checkout {
        padding: 3px;
        width: auto;
        font-size: 15px;
    }
    .recomendations {
        gap: 10px;
    }
    .recomendations h5 {
        font-size: 15px;
    }
    .featuredItem {
        padding: 0 10px;
        gap: 10px;
    }
    .featuredItem img {
        width: 50%;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    .featuredItemInfo {
        width: 50%;
    }
    .featuredItemInfo h4 {
        font-size: 12px;
    }
    .cartStars {
        font-size: 10px;
    }
    .add {
        width: 100%;
        height: auto;
        font-size: 12px;
    }
    /* ComingSoon */
    .fullBg h5 {
        margin-bottom: 0px;
    }
    .fullBg h2 {
        width: 55%;
    }
    .coomingSoonBg,
    .coomingSoonBg2,
    .coomingSoonBg3 {
        width: 200px;
    }
    .coomingSoonBg3 {
        width: 100px;
    }
}


/* RESPONSIVE 768px  */

@media (max-width: 768px) {
    .line {
        height: 3px;
        width: 80%;
    }
    .flexTitle {
        padding: 10px 30px;
    }
    .menu {
        background-color: inherit;
        border: none;
        color: white;
        padding: 0;
        text-align: left;
    }
    .header {
        position: relative;
    }
    .header h1 {
        font-size: 50px;
    }
    .header__top {
        padding: 10px 25px;
    }
    .header__top i {
        font-size: 30px;
    }
    .header__top--left {
        display: none;
    }
    .menu {
        display: block;
        width: 20%;
    }
    .header__top--right {
        width: 20%;
    }
    .search {
        background-color: var(--colorPrincipal);
        padding: 20px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        height: 70px;
    }
    .search a i {
        font-size: 20px;
        padding: 5px 5px 5px 5px;
    }
    .fa-user {
        display: none;
    }
    .divider {
        height: 3px;
    }
    .header__nav {
        position: absolute;
        top: 100%;
        width: 70%;
        left: -70%;
        background-color: var(--colorTerciario);
        height: 100vh;
        overflow-y: auto;
        transition: all 0.3s;
        z-index: 1;
    }
    .header__nav ul {
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
    }
    .account {
        display: inline;
    }
    .header__nav ul li {
        text-align: left;
        width: 100%;
    }
    .nav_visible {
        left: 0;
    }
    .carousel {
        margin-top: 70px;
    }
    .allFixed {
        position: fixed;
    }
    /* CAROUSEL */
    .carousel-item img {
        height: 350px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 0;
    }
    /* MAIN INFO */
    .info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .info i {
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    .infoContent h3 {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0;
        font-weight: bold;
    }
    .infoContent p {
        display: none;
    }
    /* NEW PRODUCTS */
    .titleContainer a {
        top: 40px;
    }
    .newProducts__content {
        flex-wrap: wrap;
    }
    .newProducts__product {
        width: 48%;
    }
    .newProducts__product img {
        height: 130px;
    }
    .newProducts__product h4 {
        padding: 10px;
    }
    .lastProduct {
        display: none;
    }
    /* COLLECTIONS */
    .gridCollections {
        margin: 50px 0;
    }
    .row {
        padding: 0px;
    }
    .gridItem {
        height: 200px;
        margin-bottom: 20px;
    }
    .gridItem h2 {
        width: 65%;
    }
    .collectionBtn {
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .lastCollection {
        display: none;
    }
    /* ABOUT US  */
    .aboutUs {
        padding: 0;
    }
    .aboutUs__content {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .aboutUs__content iframe {
        position: static;
        width: 90%;
        height: 225px;
        margin-top: 10px;
    }
    .aboutUs__info {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .aboutUs__info h2,
    .aboutUs__info p {
        width: 80%;
        padding: 10px;
        margin: 10px auto;
    }
    .aboutUs__info .line {
        margin: 10px auto 0 auto;
    }
    /* REVIEWS */
    .review {
        width: 90%;
        height: 300px;
        padding: 30px 10px 10px;
        gap: 20px;
    }
    .stars {
        font-size: 20px;
    }
    /* MORE INFO */
    .knowMore {
        margin-bottom: 20px;
    }
    .knowMore .infoContainer {
        width: 100%;
        padding: 0 20px 20px;
    }
    .knowMore .infoContainer i {
        font-size: 40px;
    }
    /* FOOTER */
    .footer h1 {
        font-size: 50px;
    }
    .footer h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer__contact {
        margin: 30px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer__contact p,
    .footer__info a {
        font-size: 14px;
        line-height: 1;
    }
    .footer__info {
        width: 45%;
        gap: 10px;
    }
    .footer__info i {
        font-size: 35px;
        margin: 5px;
    }
    /* SHOPPING CART */
    .cartTit {
        padding: 0 0;
    }
    .cartTit .titleContainer,
    .cartTit .line {
        display: none;
    }
    .cartContainer {
        flex-direction: column;
        gap: 0px;
        margin: 0;
    }
    .cartItems {
        box-shadow: none;
        width: 100%;
        height: 100%;
    }
    .cartTitle {
        border-bottom: 2px solid rgb(220, 218, 218);
        padding: 0 20px 5px 20px;
    }
    .cartTitle h5 {
        font-size: 30px;
    }
    /* Scroll */
    .cartItem {
        height: 150px;
    }
    .checkItem {
        display: none;
    }
    .cartItem img {
        width: 120px;
        object-fit: cover;
    }
    .cartItemDescription {
        width: auto;
        height: 90%;
        margin: 10px;
    }
    .price {
        height: 90%;
        margin-right: 20px;
    }
    .options {
        gap: 10px;
    }
    .cartLink {
        display: none;
    }
    /* RIGHT SIDE */
    .cartInfo {
        width: 100%;
        height: auto;
        gap: 30px;
    }
    .fullPayment {
        padding: 20px;
        height: auto;
        gap: 20px;
    }
    .fullPayment p {
        font-size: 15px;
        order: 2;
    }
    .total {
        justify-content: space-between;
        order: 1;
    }
    .total h3 {
        font-size: 20px;
    }
    .checkout {
        order: 3;
    }
    .recomendations {
        height: 50vh;
        gap: 10px;
        margin-bottom: 20px;
    }
    .recomendations h5 {
        top: -1px;
        font-size: 20px;
    }
    .featuredItem img {
        width: 45%;
        margin-bottom: 0px;
    }
    .featuredItemInfo {
        gap: 15px;
        margin-top: 5px;
    }
    .featuredItemInfo h4 {
        font-size: 20px;
    }
    .cartStars {
        font-size: 25px;
        gap: 5px;
    }
    /* LOGIN  */
    .fullBg h1 {
        font-size: 40px;
    }
    .fullBg h2 {
        width: 100%;
    }
    .fullBg .icons {
        font-size: 30px;
        gap: 30px;
    }
    .coomingSoonBg,
    .coomingSoonBg2,
    .coomingSoonBg3 {
        width: 150px;
    }
    .coomingSoonBg3 {
        width: 100px;
        bottom: 20px;
        right: 20px;
    }
    /* LOGIN */
    .loginSection {
        padding: 70px;
    }
    .login {
        width: 100%;
        padding: 20px;
    }
    .login h2 {
        font-size: 25px;
    }
    .login form {
        gap: 10px;
        margin: 30px 0;
    }
    .login form input {
        height: 30px;
    }
    .login form button {
        height: 30px;
        font-size: 12px;
    }
    .login a {
        font-size: 15px;
        margin-bottom: 8px;
    }
}