* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorPrincipal: #222831;
    --colorTerciario: #313b4b;
    --colorSecundario: #d1aa6e;
    --colorHover: #f05454;
}


/* GLOBALES */

h1 {
    font-family: "Luxurious Roman", cursive;
    font-size: 60px;
    font-weight: bold;
    color: var(--colorSecundario);
}

h2,
h3,
h4 {
    font-weight: bold;
    line-height: 1;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 19px;
}

h4,
p {
    font-size: 16px;
}

p {
    line-height: 1;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    margin-bottom: 0;
}

span {
    color: var(--colorSecundario);
}

.header,
a {
    color: white;
}

.icons {
    display: flex;
    gap: 15px;
}

.heartIcon {
    color: #f05454;
}

.icons i:hover {
    color: var(--colorSecundario);
}

.line {
    height: 5px;
    width: 400px;
    background-color: var(--colorSecundario);
}

.flexTitle {
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */

.header {
    background-color: var(--colorPrincipal);
    display: flex;
    flex-direction: column;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

.header__top i {
    font-size: 30px;
}

.header__top--left {
    display: flex;
    align-items: baseline;
    gap: 20px;
    width: 30%;
}

.menu {
    display: none;
}

.header__top--right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 30%;
}

.search {
    display: flex;
    height: auto;
    width: 70%;
}

.search input {
    border: none;
    border-radius: 22px 0 0 22px;
    text-align: center;
    height: 30px;
    width: 100%;
}


/* remove the border when clicking input */

.search a i {
    font-size: 25px;
    height: 30px;
    color: var(--colorPrincipal);
    background-color: white;
    border-radius: 0 22px 22px 0;
    padding: 3px 5px 5px 0;
}

.divider {
    background-color: #d1aa6e;
    height: 5px;
    width: 100%;
    margin: 0;
}

.header__nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 20px;
    margin: 0;
}

.header__nav ul li {
    text-align: center;
    width: 10%;
}

.header__nav a:hover {
    color: var(--colorSecundario);
}

.account {
    display: none;
}


/* MAIN */


/* CAROUSEL */

.carousel-inner {
    height: 350px;
}

.carousel-item img {
    max-height: 350px;
    object-fit: cover;
}


/* MAIN INFO */

.infoContainer {
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 30%;
    display: flex;
    gap: 10px;
}

.info i {
    font-size: 30px;
}

.infoContent {
    display: flex;
    flex-direction: column;
}

.infoContent h3 {
    margin-bottom: 10px;
}


/* NEW PRODUCTS */

.newProducts {
    background: rgb(0, 0, 0);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 98%);
}

.titleContainer {
    position: relative;
    width: 100%;
    text-align: center;
}

.titleContainer a {
    color: var(--colorSecundario);
    text-decoration: underline;
    position: absolute;
    right: 0;
}

.titleContainer a:hover {
    color: var(--colorTerciario);
}

.newProducts__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.newProducts__product {
    width: 30%;
    color: white;
}

.newProducts__product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.newProducts__product h4 {
    background-color: var(--colorTerciario);
    padding: 15px;
    text-align: center;
}

.newProducts__product:hover {
    cursor: pointer;
    color: var(--colorSecundario);
}


/* COLLECTIONS */

.collections {
    color: white;
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 36%);
}

.gridCollections {
    margin: 50px 0;
}

.row {
    padding: 12px 0;
}

.gridItem {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.gridItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gridItem h2 {
    font-size: 35px;
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    background-color: #313b4ba0;
    color: var(--colorSecundario);
    box-shadow: var(--colorSecundario) 0px 0px 15px;
    top: 25%;
}

.collectionBtn {
    position: absolute;
    z-index: 1;
    top: 55%;
    width: 130px;
    height: 65px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid var(--colorSecundario);
    color: var(--colorSecundario);
    background-color: inherit;
    cursor: pointer;
}

.collectionBtn:hover {
    border: 3px solid white;
    color: white;
    background-color: #313b4ba0;
    box-shadow: var(--colorSecundario) 0px 0px 15px;
}


/* ABOUT US  */

.aboutUs {
    height: auto;
}

.aboutUs__content {
    position: relative;
    margin: 50px 0;
}

.aboutUs__content iframe {
    position: absolute;
    width: 50%;
    height: 300px;
    z-index: 1;
}

.aboutUs__info {
    width: 80%;
    background-color: black;
    height: 300px;
    padding: 3%;
    color: white;
    margin: 70px 0 0 auto;
    line-height: 1.2;
}

.aboutUs__info h2,
.aboutUs__info p {
    width: 50%;
    margin: 20px 70px 20px auto;
    text-align: left;
}

.aboutUs__info .line {
    margin: 0 60px 0 auto;
}


/* REVIEWS */

.reviews {
    margin: 20px 0;
}

.review {
    width: 50%;
    height: 300px;
    padding: 30px 30px 50px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    text-align: center;
}

.stars {
    width: 100%;
    font-size: 25px;
    color: #ffbe32;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.review .line {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
}


/* MORE INFO */

.knowMore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.knowMore h3 a {
    color: black;
}

.knowMore h3 a:hover {
    color: var(--colorSecundario);
}


/* FOOTER */

.footer {
    text-align: center;
    background-color: #222831;
    padding: 40px 0 0 0;
    color: white;
}

.footer h2 {
    color: var(--colorSecundario);
}

.footer__contact {
    margin: 30px 0;
}

.footer__contact p,
.footer__info a {
    line-height: 2;
}

.footer__flex {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
}

.footer__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a:hover {
    color: var(--colorSecundario);
}

.footer__info i {
    font-size: 40px;
    margin: 10px;
}

.footer__bottom {
    background-color: var(--colorSecundario);
    color: black;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    position: sticky;
    bottom: 0;
}


/* HERE ENDS THE HOME PAGE */


/* THE CSS OF THE PAGES IS ON THE PRODUCTS CSS FILE (SASS) */


/* RESPONSIVE */

@media (max-width: 900px) {
    /* HEADER */
    .header__top i {
        font-size: 25px;
    }
    .header__top--left {
        width: 30%;
    }
    .header__top--left p {
        font-size: 14px;
    }
    .search input {
        width: 100%;
    }
    .search a i {
        font-size: 20px;
    }
    .header__nav ul {
        justify-content: space-between;
        gap: 20px;
    }
    .header__nav ul li {
        width: 110px;
    }
    /* MAIN INFO */
    .info {
        gap: 20px;
    }
    /* NEW PRODUCTS */
    .newProducts__product img {
        height: 150px;
    }
    .newProducts__product h4 {
        padding: 10px;
        font-size: 14px;
    }
    /* COLLECTIONS */
    .gridCollections {
        margin: 30px 0;
    }
    .gridItem {
        height: 200px;
    }
    .gridItem h2 {
        font-size: 25px;
    }
    .gridItem a {
        top: 45%;
    }
    /* ABOUT US  */
    .aboutUs {
        background-color: black;
        margin-bottom: 25px;
    }
    .aboutUs__content {
        position: static;
        display: flex;
    }
    .aboutUs__content iframe {
        position: static;
        height: 200px;
    }
    .aboutUs__info {
        width: 50%;
        margin: 0;
        padding: 0;
        height: 300px;
    }
    .aboutUs__info h2,
    .aboutUs__info p {
        width: 90%;
        margin: 20px auto;
    }
    .aboutUs__info .line {
        margin: 0 auto;
        width: 90%;
    }
    /* REVIEWS */
    .review {
        width: 70%;
    }
    /* MORE INFO */
    .knowMore .infoContainer p {
        font-size: 14px;
    }
}


/* RESPONSIVE 768px  */

@media (max-width: 768px) {
    .line {
        height: 3px;
        width: 80%;
    }
    .flexTitle {
        padding: 10px 30px;
    }
    .menu {
        background-color: inherit;
        border: none;
        color: white;
        padding: 0;
        text-align: left;
    }
    .header {
        position: relative;
    }
    .header h1 {
        font-size: 50px;
    }
    .header__top {
        padding: 10px 25px;
    }
    .header__top i {
        font-size: 30px;
    }
    .header__top--left {
        display: none;
    }
    .menu {
        display: block;
        width: 20%;
    }
    .header__top--right {
        width: 20%;
    }
    .search {
        background-color: var(--colorPrincipal);
        padding: 20px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        height: 70px;
    }
    .search a i {
        font-size: 20px;
        padding: 5px 5px 5px 5px;
    }
    .fa-user {
        display: none;
    }
    .divider {
        height: 3px;
    }
    .header__nav {
        position: absolute;
        top: 100%;
        width: 70%;
        left: -70%;
        background-color: var(--colorTerciario);
        height: 100vh;
        overflow-y: auto;
        transition: all 0.3s;
        z-index: 1;
    }
    .header__nav ul {
        flex-direction: column;
        gap: 30px;
        padding: 20px 0;
    }
    .account {
        display: inline;
    }
    .account a {
        text-decoration: line-through;
        color: gray;
    }
    .header__nav ul li {
        text-align: left;
        width: 100%;
    }
    .nav_visible {
        left: 0;
    }
    .carousel {
        margin-top: 70px;
    }
    .allFixed {
        position: fixed;
    }
    /* CAROUSEL */
    .carousel-item img {
        height: 350px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 0;
    }
    /* MAIN INFO */
    .info {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .info i {
        width: 100%;
        margin-bottom: 5px;
        text-align: center;
    }
    .infoContent h3 {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0;
        font-weight: bold;
    }
    .infoContent p {
        display: none;
    }
    /* NEW PRODUCTS */
    .titleContainer a {
        top: 40px;
    }
    .newProducts__content {
        flex-wrap: wrap;
    }
    .newProducts__product {
        width: 48%;
    }
    .newProducts__product img {
        height: 130px;
    }
    .newProducts__product h4 {
        padding: 10px;
    }
    .lastProduct {
        display: none;
    }
    /* COLLECTIONS */
    .gridCollections {
        margin: 50px 0;
    }
    .row {
        padding: 0px;
    }
    .gridItem {
        height: 200px;
        margin-bottom: 20px;
    }
    .gridItem h2 {
        font-size: 30px;
    }
    .gridItem a {
        position: absolute;
        z-index: 1;
        top: 50%;
    }
    .collectionBtn {
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .lastCollection {
        display: none;
    }
    /* ABOUT US  */
    .aboutUs {
        padding: 0;
    }
    .aboutUs__content {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .aboutUs__content iframe {
        position: static;
        width: 90%;
        height: 225px;
        margin-top: 10px;
    }
    .aboutUs__info {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .aboutUs__info h2,
    .aboutUs__info p {
        width: 80%;
        padding: 10px;
        margin: 10px auto;
    }
    .aboutUs__info .line {
        margin: 10px auto 0 auto;
    }
    /* REVIEWS */
    .review {
        width: 90%;
        height: 300px;
        padding: 30px 10px 10px;
        gap: 20px;
    }
    .stars {
        font-size: 20px;
    }
    /* MORE INFO */
    .knowMore {
        margin-bottom: 20px;
    }
    .knowMore .infoContainer {
        width: 100%;
        padding: 0 20px 20px;
    }
    .knowMore .infoContainer i {
        font-size: 40px;
    }
    /* FOOTER */
    .footer h1 {
        font-size: 50px;
    }
    .footer h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer__contact {
        margin: 30px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .footer__contact p,
    .footer__info a {
        font-size: 14px;
        line-height: 1;
    }
    .footer__info {
        width: 45%;
        gap: 10px;
    }
    .footer__info i {
        font-size: 35px;
        margin: 5px;
    }
}