$colorSecundario: #d1aa6e;
@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

@mixin descriptionSize($fontSize, $padding) {
    font-size: $fontSize;
    padding: $padding;
}

.title {
    margin: 20px auto 0;
    .filterBtn {
        @include sizes(80px, 40px);
        font-size: 20px;
        background-color: white;
        color: var(--colorPrincipal);
        border: 3px solid var(--colorPrincipal);
        border-radius: 5px;
        cursor: pointer;
        margin: 20px;
        transition: ease 0.2s;
        &:hover {
            border: 3px solid $colorSecundario;
            box-shadow: $colorSecundario 0px 0px 15px;
        }
    }
}

.collection {
    padding: 0 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
    .collection__item {
        position: relative;
        .heartIcon {
            @include descriptionSize(25px, 5px);
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            &:hover {
                color: $colorSecundario;
            }
        }
        .soldOut {
            padding: 5px;
            position: absolute;
            top: 5%;
            left: 0;
            background-color: $colorSecundario;
        }
        img {
            @include sizes(100%, 450px);
            object-fit: cover;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .item__description {
            line-height: 1.5;
            margin-top: 10px;
            h5 {
                color: gray;
            }
            .soldOutItem {
                text-decoration: line-through;
            }
        }
    }
    .difItem {
        img {
            height: 320px;
        }
    }
}

@media (max-width: 900px) {
    .collection {
        padding: 0 50px;
        .collection__item {
            .heartIcon {
                @include descriptionSize(20px, 3px);
            }
            .soldOut {
                @include descriptionSize(20px, 3px);
                top: 72%;
            }
            img {
                height: 350px;
            }
            .item__description {
                h5 {
                    color: gray;
                    font-size: 16px;
                }
            }
        }
        .difItem {
            .soldOut {
                top: 5%;
            }
            img {
                height: 70%;
            }
        }
    }
}

@media (max-width: 768px) {
    .title {
        margin: 80px auto 0;
        .filterBtn {
            &:hover {
                @include sizes(90px, 45px);
            }
        }
    }
    .collection {
        padding: 0 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        .collection__item {
            .heartIcon {
                @include descriptionSize(20px, 4px);
            }
            .soldOut {
                @include descriptionSize(18px, 3px);
                top: 80%;
            }
            img {
                @include sizes(100%, 400px);
            }
            .item__description {
                h4 {
                    font-size: 15px;
                }
                h5 {
                    font-size: 12px;
                }
            }
        }
        .difItem {
            .soldOut {
                top: 5%;
            }
        }
    }
}

@media (max-width: 550px) {
    .collection {
        .collection__item {
            img {
                @include sizes(100%, 300px);
            }
            .soldOut {
                top: 70%;
            }
        }
        .difItem {
            .soldOut {
                top: 5%;
            }
            img {
                height: 170px;
            }
        }
    }
}